
.impress-enabled #cover.step.past {
    opacity: 0;
}

#intro_top {
    height: 1400px;
    margin-top: 300px;
}
#intro_bottom {
    color: rgb(230, 230, 230);
}

#agenda {
    width: 1200px;
}
#agenda .pop {
    display: inline-block;
}
#agenda.present .pop {
    -webkit-transition: all 0.7s;
    -webkit-transition-delay: 1s;
    color: red;
    -webkit-transform: translateY(-10px);
}

#nudes.future img {
    opacity: 0;
}
#nudes.present img {
    -webkit-transition: all 0.7s;
    -webkit-transition-delay: 0.5s;
    opacity: 1;
}

.has_appear.future .appear {
    opacity: 0;
}
.has_appear.present .appear {
    -webkit-transition: all 0.7s;
    -webkit-transition-delay: 3s;
    opacity: 1;
}
.has_appear.present .appear.later {
    -webkit-transition-delay: 7s;
}

.overview { display: none }

.impress-on-overview .step, .impress-on-overview2 .step {
    opacity: 1;
    cursor: pointer;
}


